body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;
  position: relative;
}

.content {
  background-image: url("img/body-bg.png");
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}

.content-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: -45px;
}

/* Buttons */
.btn {
  border-radius: 20px;
}

.btn-primary {
  background-color: #3275d3;
  font-size: 12px;
  height: 35px;
}

.btn-outline-secondary {
  border-color: #6c757d;
  border: 2px solid #dfdfdf;
  background-color: #fff;
  color: #3275d3;
  font-weight: bold;
  font-size: 12px;
  height: 38px;
  padding-left: 14px;
  padding-right: 14px;
}

.btn + .btn {
  margin-left: 14px;
}

.btn-wrapper {
  padding: 13.5px;
  display: flex;
  justify-content: center;
}
/* End Buttons */

/* Header */
.header {
  padding-top: 18px;
  padding-bottom: 64px;
  background-color: #f1f1f1;
}

.logo img {
  height: 55px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.username {
  color: #838c93;
  display: flex;
  align-items: center;
}

.username img {
  margin-right: 6px;
}
/* End Header */

/* Tabs */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #001931;
  border-color: #001931;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #001931;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #001931;
}

.nav-tabs .nav-link {
  background: #001931;
  color: #fff;
  border-radius: 0;
  border-top: 5px solid #001931;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.nav-tabs .nav-link img {
  height: 30px;
  margin-bottom: 18px;
}

.nav-tabs .nav-link.active {
  border-top: 5px solid #fec705;
  position: relative;
}

.nav-tabs .nav-link.active:before {
  content: "\A";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 19px 18px;
  border-color: transparent transparent #007bff transparent;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}
/* End Tabs */

/* Special style */
.dashed {
  border-style: dashed;
  border-color: #e8e8ea;
  border-width: 2px;
}

/* End Spesial style */

/* Accordion */
.accordion-content {
  margin-top: 50px;
  padding: 33px 31px 37px;
  background: #fff;
  margin-bottom: 78.6px;
}

.accordion-content .card {
  margin-bottom: 33px;
  border: none;
}

.accordion-content .card:last-child {
  margin-bottom: 0;
}

.accordion-title {
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.accordion-section-title {
  color: #3275d3;
  padding: 7.5px 0;
  position: relative;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.accordion-section-title:before {
  content: "";
  height: 1px;
  width: 52px;
  background: #ffcb03;
  display: block;
  position: absolute;
  top: 0;
}

.accordion-content .card-header {
  background: #3275d3;
  display: flex;
  justify-content: space-between;
  border-radius: 0;
  padding: 17px 16px;
}

.accordion-content .card-header .btn {
  color: #fff;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.accordion-content .card-header .btn:after {
  content: "";
  background: url(img/minus.svg);
  height: 16px;
  width: 16px;
}

.accordion-content .card-header .btn[aria-expanded="false"]:after {
  background: url(img/plus.svg);
}

.accordion-content .card-body {
  border: 1px solid #e8e8ea;
  padding: 17px 16px 12px;
}

#filters .card-body {
  border: 2px solid #e8e8ea;
  padding: 19px 20px 23px;
}

.collapse:not(.show) {
  display: block;
  height: 0;
  overflow: hidden;
}

.accordion-hide .related-conn {
  display: none !important;
}
/* End Accordion */

.bg-gray {
  background-color: #f4f4f4;
}

/* Select2 */
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 33px;
  padding-left: 12px;
  font-size: 12px;
  color: #838c93;
}

.select2-container .select2-selection--single {
  height: 35px;
  border: 1px solid #e8e8ea;
  border-radius: 0;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 33px;
  width: 30px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #6d767e;
  font-weight: 400;
}

.w-100 + .select2-container {
  width: 100% !important;
}

.border-0 + .select2-container .select2-selection--single {
  border-color: transparent;
}

.select2-dropdown {
  border: 1px solid #e8e8ea;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-width: 6px 5px 0 5px;
  border-color: #838c93 transparent transparent transparent;
}

.select2-results__option {
  font-size: 12px;
  color: #838c93;
}

/* .btn-remove-wrapper {
    position: absolute;
    top: 11.9px;
    right: 0px;
} */

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table tr,
.bootstrap-datetimepicker-widget table th {
  color: #838c93;
}
.bootstrap-datetimepicker-widget table td.disabled {
  opacity: 0.5;
}

.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover,
.bootstrap-datetimepicker-widget table td.cw,
.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new,
.bootstrap-datetimepicker-widget table td span.old,
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  color: #e8e8ea;
}

@media (min-width: 1025px) {
  .select-choisir + .select2,
  .input-valeur {
    width: 190px !important;
    margin: 5px 0;
  }

  .select-condition + .select2 {
    width: 100px !important;
    margin: 5px 0;
  }

  .filter-wrapper
    .filter-wrapper
    .filter-wrapper
    .filter-wrapper
    .select-choisir
    + .select2,
  .filter-wrapper
    .filter-wrapper
    .filter-wrapper
    .filter-wrapper
    .input-valeur {
    width: 100px !important;
  }
}

/* End Select2 */

/* Forms */
.form-control {
  border-radius: 0;
  border: 1px solid #e8e8ea;
  height: 35px;
  font-size: 12px;
  color: #838c93;
}
.form-row label {
  color: #838c93;
  font-size: 12px;
  margin-bottom: 5px;
  line-height: 15px;
}

.input-group.date .input-group-append {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.input-group.date .input-group-text {
  background: transparent;
  border: 0;
}
/* End Forms */

/* Filters */
.filter-item {
  background: #f4f4f4;
  padding: 4.9px 12.5px 4.1px;
  margin: 0 0 20px;
  border: 2px solid #e8e8ea;
}

.btn-icon {
  border-radius: 50%;
  background: #fff;
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-inner-active {
  padding-left: 85px;
}

.filter-head {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  height: 38px;
  display: none;
}

.filter-inner-active > .filter-head {
  display: block;
}

.related-conn {
  border-style: dashed;
  border-color: #3275d3;
  border-width: 2px;
}

.related-conn:nth-of-type(1) {
  display: none;
}

.template-filter-row,
.template-filter-wrapper {
  display: none;
}

.filter-btn-wrapper {
  display: none;
  /* margin-top: 18.5px; */
  justify-content: flex-end;
}

.first-wrapper .filter-btn-wrapper {
  display: flex;
  position: absolute;
  bottom: -50px;
  right: 0;
}

.first-wrapper {
  padding-bottom: 50px !important;
}

.sous-wrapper {
  padding-bottom: 50px !important;
}

.first-wrapper > .btn-wrapper {
  display: none;
}

.filter-inner {
  position: relative;
}

.filter-row {
  position: relative;
}

.filter-row:last-child .filter-btn-wrapper {
  top: 60px;
  right: 0;
}

#filters .card-body {
  position: relative;
}

.template-wrapper,
.template-row,
.template-head,
.template-btn-sous,
.template-initial {
  display: none;
}

.filter-wrapper.card-body.sous-wrapper {
  margin-bottom: 20px;
}

/* End Filters */

/* Switch Toggle */

.switch {
  display: inline-block;
  height: 38px;
  position: relative;
  width: 74px;
  margin-bottom: 0;
}

.switch > input {
  display: none;
}

.switch > .slider {
  background-color: #f4f4f4;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.switch > .slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "ET";
  height: 34px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 34px;
  text-align: center;
  color: #3275d3;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch > .slider:after {
  bottom: 2px;
  content: "OU";
  height: 34px;
  right: 2px;
  position: absolute;
  transition: 0.4s;
  width: 34px;
  text-align: center;
  color: #e8e8ea;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch > input:checked + .slider {
  background-color: #f4f4f4;
}

.switch > input:checked + .slider:before {
  transform: translateX(36px);
  content: "OU";
}

.switch > input:checked + .slider:after {
  content: "ET";
  left: 2px;
}

.switch > .slider.round {
  border-radius: 32px;
}

.switch > .slider.round:before {
  border-radius: 50%;
}

/* End Switch Toggle */

.filter-row .filter-btn-wrapper {
  display: none;
}

.filter-row:last-child .filter-btn-wrapper {
  display: flex;
}

/* Tabs Content */
.nav-tabs-grey {
  background-color: #e8e8ea;
}
.nav-tabs-grey .nav-link {
  padding: 16px 18px;
  font-size: 12px;
  font-weight: 700;
  color: #b2b9bf;
}

.nav-tabs-grey .nav-link.active {
  background-color: #fff;
  color: #838c93;
}

.tab-grey-content {
  background-color: #fff;
}

.tab-grey-content .tab-pane {
  padding: 30px 18px;
}

.form-group label {
  color: #838c93;
  font-size: 12px;
}

.tab-grey-content .tab-pane {
    position:relative;
}

/* End Tabs Content */


/* Textarea custom */
.textarea-label {
  display: flex;
  justify-content: space-between;
}

.textarea-label .label-counter {
  color: #b2b9bf;
}

.tab-grey-content textarea {
  background-color: #f4f4f4;
  border: none;
}

.textarea-typewriter textarea {
  background-image: url("img/typewriter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hide-typewriter textarea {
  background-image: none;
}

/* End Textarea custom */
/* DataTable */
table.dataTable thead .sorting:before, 
table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_asc_disabled:before, 
table.dataTable thead .sorting_desc_disabled:before {
    content: url(img/caret-up.svg);
    height: 10px;
    top: 14px;
    bottom: auto;
    line-height: 5px;
    left: 0;
}

table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after {
    content: url(img/caret-down.svg);
    height: 10px;
    bottom: 14px;
    top: auto;
    line-height: 1;
    left: 0;
}

.dataTable tbody > tr {
    background: #F4F4F4;
}

.dataTable td,
.dataTable th {
    padding-left: 20px;
    font-size: 12px;
    color: #838C93;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dataTable {
    border-collapse:separate !important; 
    border-spacing: 0 5px !important;
}

.dataTable .btn-remove {
    display: inline-block;
    float: right;
    margin-right: 12px;
}

.dataTable .no-sort {
    display: none;
}

/* End DataTable */

.btn-ajouter {
    position: absolute;
    top: 47px;
    right: 18px;
}

/* DataTable Switch */
.dataTable .switch > .slider:before,
.dataTable .switch > .slider:after {
    content: '' !important;
    height: 18px;
    width: 18px;
}

.dataTable .switch > .slider:before {
    bottom: 2px;
    left: 2px;
}

.dataTable .switch > input:checked + .slider:before {
    transform: translateX(22px);
}

.dataTable .switch {
    height: 22px;
    width: 44px;
    display: table;
}

.dataTable .switch > input:checked + .slider {
    background-color: #FFCB03;
}

.dataTable .switch > .slider {
    background-color: #838C93;
}

/* End DataTable Switch */

/* Modal Custom */
.modal.fade .modal-dialog {
    top: 50%;
    transform: translateY(-50%);
}

.modal-header {
    background-color: #3275D3;
    color: #fff;
    border-radius: 0;
    padding: 24px 29px;
}

.modal-content {
    border-radius: 0;
    border: transparent;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
}

.close {
    opacity: 1;
}
/* End Modal Custom */